<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>Main page</title>
    </head>
    <body>
        <div class="">
            <h3 style="text-align: center" class="mt-3 mb-3">New task</h3>
            <form method="post" action="/tasks/add">
                <div class="" style="margin-left: 18%">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label for="taskName">Task </label>
                            <input id="taskName" type="text" name="text" class="form-control" placeholder="Enter the task" required/>
                        </div>
                        <div class="form-group col-md-5">
                            <label for="tagName">Tag </label>
                            <input id="tagName" type="text" name="tag" class="form-control" placeholder="Enter the tag for task" required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-10">
                            <label for="descriptionName">Description</label>
                            <textarea class="form-control" id="descriptionName" name="description" placeholder="Enter the description of task" required> </textarea>
                        </div>
                    </div>
                </div>
                <div style="text-align: center">
                    <span class="mt-5">
                        <button type="submit" class="btn btn-info">Add</button>
                        <a href="/tasks" style="text-decoration: none;" class="btn btn-dark">
                            <span>Back to tasks</span>
                        </a>
                    </span>
                </div>
            </form>
        </div>
    </body>
</html>